<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6-UxXLe0L8lU-4svGTRjhbMxVwxAi8mE</string>
	<key>GCM_SENDER_ID</key>
	<string>984231517713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.screenquest.app</string>
	<key>PROJECT_ID</key>
	<string>screenquest-9b3bb</string>
	<key>STORAGE_BUCKET</key>
	<string>screenquest-9b3bb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984231517713:ios:da10c2cc3fd9fdf7a69bb0</string>
</dict>
</plist>